{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/ann.css' %}">

<section class="review" id="review">

    <h3 class="sub-heading"> Announcement </h3>
    <h1 class="heading"> what they say </h1>

    <div >
        <div>
            {%for details in details%}
            <div class="slide">
                <i class="fa fa-quote-right"></i>
                <div class="user">
                    <img src="/static/images/pic.jpeg" alt="">
                    <div class="user-info">
                        <h3>{{details.name}}</h3>

                    </div>
                </div>
                <p>{{details.info}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
</section>


{% endblock %}