{% extends 'base.html' %}
{% load static %}
{% block content %}


</head>
<link rel="stylesheet" href="{% static 'styles/att.css' %}">
<body>
<table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Present</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Hours Worked</th>
      </tr>
    </thead>
    <tbody>
      {% for attendance in attendance_data %}
        <tr>
          <td>{{ attendance.user }}</td>
          <td>{{ attendance.date }}</td>
          <td>{{ attendance.present }}</td>
          <td>{{ attendance.check_in }}</td>
          <td>{{ attendance.check_out }}</td>
          <td>{{ attendance.hours_worked }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>

  
{%endblock%}