{% extends 'base.html' %}
{% load static%}
{% block content %}
<body>
<link rel="stylesheet" href="{% static 'styles/info.css' %}">
<div class="container">
  <div class="row">
    {% for details in cursor%}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/images/{{ details.photo }}">
        </div>
        <div class="team-content">
          <h3 class="name">{{details.name}}</h3>
          <h4 class="title">{{details.role}}</h4>
          
          <h4 class="title">{{details.phone_no}}</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock %}
</body>